@page "/"

<h1>Random Selector</h1>
<input placeholder="Enter Value" @bind="ValueName" />
<button @onclick="SubmitEntry">Submit Entry</button>
<button @onclick="ClearEntries">Clear Entries</button>
<button @onclick="GetRandomEntry">Get Random Entry</button>
<label>Chosen Entry: @RandomChosenValue</label>
<table>
    <thead>
        <tr>
            <th>
                Entered Values:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var value in Values)
        {
            <tr>
                <td>
                    @value
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<string> Values = new List<string>();

    public string ValueName { get; set; }

    public string RandomChosenValue { get; set; }

    public void GetRandomEntry(){
        Random numberGenerator = new Random();
        RandomChosenValue = Values[numberGenerator.Next(0, Values.Count)];
    }


    public void ClearEntries(){
        Values = new List<string>();
        ValueName = "";
    }
    public void SubmitEntry()
    {
        Values.Add(ValueName);
        ValueName = "";
    }
}
