@page "/"

<div class="bg-secondary text-white text-center">
    <h1 style="font-family: 'Courier New', Courier, monospace;">Random Selector</h1>
</div>
<div class="display-horizontal">

    <div class="display-vertical col-6 align-center">
        <input class="col-3 margin-auto" placeholder="Enter Value" @bind="ValueName" />
        <div class="display-horizontal">
            <button class="col-3 btn btn-primary margin-auto" @onclick="SubmitEntry">Submit Entry</button>
            <button class="col-3 btn btn-primary margin-auto" @onclick="ClearEntries">Clear Entries</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        Entered Values:
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var value in Values)
                {
                    <tr>
                        <td>
                            @value
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="display-vertical col-6 align-center">
        <button class="btn btn-primary" @onclick="GetRandomEntry">Get Random Entry</button>
        <h1>Chosen Entry: @RandomChosenValue</h1>
    </div>
</div>

@code {
    public List<string> Values = new List<string>();

    public string ValueName { get; set; }

    public string RandomChosenValue { get; set; }

    public void GetRandomEntry()
    {
        Random numberGenerator = new Random();
        RandomChosenValue = Values[numberGenerator.Next(0, Values.Count)];
    }


    public void ClearEntries()
    {
        Values = new List<string>();
        ValueName = "";
    }
    public void SubmitEntry()
    {
        Values.Add(ValueName);
        ValueName = "";
    }
}
